<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="managerNoticeSQL">
 
 	<!-- 글쓰기 -->
 	<insert id="managerNoticeWrite" parameterType="notice">
		insert into noticeboard values(seq_noticeboard.nextval,
				 					#{notice_subject},
				 					#{notice_content},
				 					#{image0},
				 					#{image1},
				 					#{image2},
				 					#{image3},
				 					#{image4},
				 					#{image5},
				 					#{image6},
				 					#{image7},
				 					#{image8},
				 					#{image9},
				 					sysdate)
	</insert>
	
	<!-- list 불러오기 -->
	<select id="getManagerNoticeList" parameterType="java.util.Map" resultType="notice">
		select * from
	 		(select rownum rn, tt.* from
	 		(select * from noticeboard order by notice_seq desc)tt
	 		)where rn &gt;= #{startNum} and rn &lt;= #{endNum}
	</select>
	
	<select id="getNoticeTotalA" resultType="int">
		select count(*) from noticeboard
	</select>
	
	<!-- 한사람글
 	<select id="getNotice" parameterType="int" resultType="notice">
 		select * from noticeboard where notice_seq=#{notice_seq}
 	</select> -->
	
	<!-- 검색 -->
	<select id="getNoticeSearchList" parameterType="java.util.Map" resultType="notice">
		<![CDATA[
			select * from 
			(select rownum rn, tt. * from 
	 		(select * from noticeboard where ${itemcd} like '%'||#{keyword}||'%' 
	 		                     order by notice_seq desc)tt
	 		)where rn >= #{startNum} and rn <= #{endNum}
		]]>
	</select>
	 
	 <!-- 글 삭제 -->
 	<delete id="managerNoticeDelete" parameterType="java.util.Map">
		delete noticeboard where notice_seq in 
		<foreach collection="array" item="data" open="(" close=")" separator=",">
			#{data}
			<!-- ${array[i]} -->
		</foreach>
		
	</delete>
	 
	  <!-- 검색한 총글수 -->
	<select id="getTotalSearchA" parameterType="java.util.Map" resultType="int">
		select count(*) from noticeboard where ${itemcd} like '%'||#{keyword}||'%'
	</select>
	
	<!-- 이전글, 다음글 -->
	<select id="getNoticePage" parameterType="int" resultType="notice">
		select * from(
		select notice_seq,
			lag(notice_seq, 1, 0) over(order by notice_seq desc) prev_num,
			lag(notice_subject, 1, '이전글이 없습니다') over (order by notice_seq desc) prev_subject,
			lead(notice_seq,1,0) over (order by notice_seq desc) next_num,
			lead(notice_subject, 1, '다음글이 없습니다') over (order by notice_seq desc) next_subject
		from noticeboard) 
		where notice_seq=#{notice_seq}
	</select>
	
	<update id="managerNoticeModify" parameterType="notice">
		update noticeboard set notice_subject = #{notice_subject},
							   notice_content = #{notice_content},
							   image0 = #{image0},
							   image1 = #{image1},
							   image2 = #{image2},
							   image3 = #{image3},
							   image4 = #{image4},
							   image5 = #{image5},
							   image6 = #{image6},
							   image7 = #{image7},
							   image8 = #{image8},
							   image9 = #{image9}
							   where notice_seq = ${notice_seq}
		
	</update>
	
 </mapper>